.input {
    width: 385px;
    height: 45px;
    background-color: $contentColor;
    border-radius: 5px;
    padding: 0 13px;
    color: black;
    font-size: 26px;
    
    &::placeholder {
        color: #717171;
        font-size: 26px;
        text-transform: capitalize;
    }
    
    &--add,
    &--note {
        height: 54px;
        border-radius: 5px 0 0 5px;
    }

    &--add-btn,
    &--del {
        width: 101px;
        height: 54px;
        border-radius: 0 5px 5px 0;
    }
    
    &--del {
        background-color: $deleteColor;
        color: $contentColor;
    }

    &--note {
        width: 687px;
    }

    &--add-btn {
        @include hover-add-btn($upColor, $contentColor);
        transition: background-color 0.5s, color 0.5s;
    }

    &--del {
        @include hover-delete-btn(rgb(128, 0, 0));
        transition: background-color 0.5s, color 0.5s;
    }
}