body {
    // background: url('../../img/rectangle.png'), $bodyColor;
    background: url('../../img/Desktop\ -\ 1.png'),  #D7D2CB;
    font-family: 'Inter', sans-serif;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}